.upload-3d-model-container {
    display: flex;
    flex-direction: column;
    margin: 20px; 
}

.upload-3d-model-button {
    background-color: var(--green); 
    color: white;
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    font-size: 16px; 
    transition: background-color 0.3s; 
    margin-top: 10px; 
    width: 200px;
}

.upload-3d-model-button:hover {
    background-color: #0056b3; 
}

.upload-progress {
    margin-top: 10px; 
    font-size: 14px; 
    color: #333; 
}

.upload-url {
    margin-top: 10px; 
    font-size: 14px; 
}
